.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightpink;
  border: 1px solid darkred;
  padding: 0;
  font-size: 50px;
  font-weight: bold;
  color: darkred;
  aspect-ratio: 1/1;
}
