.alert {
  padding: 10px;
  background-color: darkred;
  color: pink;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-close-btn {
  float: right;
  font-weight: bold;
  cursor: pointer;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.alert.show {
  animation: fadeInOut 3s ease-in-out;
}
